
/* ----------------------------------------------------------------
    feature bg box
-----------------------------------------------------------------*/

.feature-bg-box {
    padding: 30px 0 0;
    position: relative;
    border-radius: 4px;
    margin-bottom: 100px;
}

.gray-bg {
    background: #f6f6f6;
}

.feature-bg-box,
.feature-bg-box:hover .icon {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.feature-bg-box .icon {
    position: absolute;
    top: -40px;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    line-height: 80px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 0px 5px #f6f6f6;
}

.featured-item.feature-bg-box .icon i {
    color: #808184;
    font-size: 30px;
    line-height: 80px;
}

.feature-bg-box .title {
    margin-top: 40px;
    display: inline-block;
}

/**/

.featured-box .one-third {
    width: 33.3333333%;
    float: left;
    padding: 10px 0px;
}

.featured-box .one-third:nth-child(2) {
    padding: 10px 10px;
}


.featured-box .one-third .featured-item {
    padding: 15% 20%;
    min-height: 360px;
}

.featured-box .one-third .featured-item,
.featured-box .one-third .featured-item h4,
.featured-box .one-third .featured-item .desc{
    color: #fff;
}

.color-1 {
    background: #a8babc;
}

.color-2 {
    background: #a0aa95;
}

.color-3 {
    background: #c5c2be;
}

.height-fix {
    height: 300px;
}


.featured-item .number {
    color: #e1e1e1;
    font-size: 36px;
    /*font-family: 'Abel', sans-serif;*/
    font-weight: normal;
}

.featured-item.feature-outline.right {
    position: relative;
    padding: 0 80px 0 0;
}

.featured-item.feature-outline.right .icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}